<h1>About the Author</h1>
<h3>Jon Nardine is currently a student at Epicodus. He hopes to get a programming job somewhere in the city of Portland! He is also a podcaster. He currently has a show called 'What Happending?' where he and his co-hosts watch the pilot and series finale of a TV show and then try to guess what happened in between. He plans to soon start a second podcast where he and another friend discuss every theme song in the James Bond film series, called 'Jams Bond.'</h3>
<h3>Hobbies:</h3>
<ul>
  <li>Golf</li>
  <li>Podcasting</li>
  <li>Watching terrible movies</li>
  <li>Consuming food and beverage</li>
  <li> Kicking it with my cat, Pepe</li>
<br>
<br>
<hr>
  <h3>AND NOW THE MOMENT YOU'VE BEEN WAITING FOR</h3>
  <h5>A picture of Pepe</h5>
  <img src="http://i.imgur.com/OkHhL2b.jpg" width=400px>
</ul>
