<header class = "jumbotron">
  <h1 id="headerFont">QUESTIONS AND ANSWERS</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  <h3>{{#link-to 'index'}}Questions list{{/link-to}} || {{#link-to 'about'}}About this page{{/link-to}} || {{#link-to 'contact'}}Contact me!{{/link-to}}</h3>
</footer>
