<header class = "jumbotron">
  <h1 id="headerFont">QUESTIONS AND ANSWERS</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}<h3>Questions list</h3>{{/link-to}}
</footer>
