<h1>You got questions? We (hopefully) have answers!</h1>
<h3>Ask a new question or answer on that already exists.</h3>

<hr>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save2="save3"}}
