<h1> Welcome to the Questions/Answers Board </h1>

You got questions? We (hopefully) have answers!

<ul>
  {{#each model as |question|}}
     {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
